# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually (\$645-675) underperformed compared to schools with smaller budgets (<\$585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [50]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)

student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [37]:
##Calculate the Total School Budget by District
school_data_groupbytype = school_data.groupby(['type'])
final_df = school_data_groupbytype['budget'].sum()
final_df = final_df.to_frame()
final_df.reset_index()

       type    budget
0   Charter   7301505
1  District  17347923

In [38]:
##Calculate the total Number of Schools by District and add it to the final df
dataf = school_data_groupbytype['School ID'].count()
final_df = final_df.assign(School_count=dataf.values)
final_df.reset_index()
final_df

            budget  School_count
type
Charter    7301505             8
District  17347923             7

In [39]:
##Calculate the math mean scores
school_data_complete_grpbydistricttype = school_data_complete.groupby(["type"])
scores_df = school_data_complete_grpbydistricttype['math_score'].mean()
final_df = final_df.assign(math_scores = scores_df.values)                                                 
scores_df = school_data_complete_grpbydistricttype['reading_score'].mean()
final_df = final_df.assign(reading_scores = scores_df.values)
final_df

            budget  School_count  math_scores  reading_scores
type
Charter    7301505             8    83.406183       83.902821
District  17347923             7    76.987026       80.962485

In [40]:
##Overall Avg Scores
final_df['OverallAvg_Scores']= (final_df['math_scores'] + final_df['reading_scores'])/2
final_df

,budget,School_count,math_scores,reading_scores,OverallAvg_Scores
type,,,,,
Charter,7301505,8,83.406183,83.902821,83.654502
District,17347923,7,76.987026,80.962485,78.974755

In [41]:
##Student Count 
#print(final_df)
final_df = final_df.assign(Student_Pop =school_data_complete_grpbydistricttype["size"].count()) 
final_df

,budget,School_count,math_scores,reading_scores,OverallAvg_Scores,Student_Pop
type,,,,,,
Charter,7301505,8,83.406183,83.902821,83.654502,12194
District,17347923,7,76.987026,80.962485,78.974755,26976

In [42]:
## Math Pass Percentage for Charter and District Students
MathPassCnt_C= school_data_complete[((school_data_complete.loc[:, 'math_score'] > 69) &\
                                     (school_data_complete.loc[:,'type'] == 'Charter'))]
MathPassCnt_C= MathPassCnt_C['Student ID'].count()
totalcnt = final_df.loc['Charter','Student_Pop']
CharterMathPassPerct = round(100* (MathPassCnt_C/totalcnt),2)
MathPassCnt_D= school_data_complete[((school_data_complete.loc[:, 'math_score'] > 69) &\
                                     (school_data_complete.loc[:,'type'] == 'District'))]
MathPassCnt_D= MathPassCnt_D['Student ID'].count()
totalcnt = final_df.loc['District','Student_Pop']
DistrictMathPassPerct = round(100* (MathPassCnt_D/totalcnt),2)
final_df['MathPass%'] = [CharterMathPassPerct,DistrictMathPassPerct]
final_df

,budget,School_count,math_scores,reading_scores,OverallAvg_Scores,Student_Pop,MathPass%
type,,,,,,,
Charter,7301505,8,83.406183,83.902821,83.654502,12194,93.70
District,17347923,7,76.987026,80.962485,78.974755,26976,66.52

In [43]:
## Reading Pass Percentage for Charter and District Students
ReadingPassCnt_C= school_data_complete[((school_data_complete.loc[:, 'reading_score'] > 69) & (school_data_complete.loc[:,'type'] \
                                                                          == 'Charter'))]
ReadingPassCnt_C= ReadingPassCnt_C['Student ID'].count()
totalcnt = final_df.loc['Charter','Student_Pop']
CharterReadingPassPerct = round(100* (ReadingPassCnt_C/totalcnt),2)

ReadingPassCnt_D= school_data_complete[((school_data_complete.loc[:, 'reading_score'] > 69) & (school_data_complete.loc[:,'type'] \
                                                                          == 'District'))]
ReadingPassCnt_D= ReadingPassCnt_D['Student ID'].count()
totalcnt = final_df.loc['District','Student_Pop']
DistrictReadingPassPerct = round(100* (ReadingPassCnt_D/totalcnt),2)
DistrictReadingPassPerct
final_df['ReadPass%'] = [CharterReadingPassPerct,DistrictReadingPassPerct]
final_df.round(2).style.highlight_max(subset=['MathPass%','ReadPass%'], color='yellow', axis=0)

## School Summary

In [52]:
school_data_complete.tail()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [105]:
#school_data
schsummary_df = school_data_complete.groupby(["type","school_name"])
df2= schsummary_df['math_score'].mean()
df2 = schsummary_df['reading_score'].mean()
df2 #schsummary_df
# schsummary_df= schsummary_df["Student ID"].count().reset_index()
# schsummary_df.rename(columns={'Student ID': 'Total Students'}, inplace= True)
# schsummary_df = pd.merge(schsummary_df, school_data, how="left", on=["school_name", "school_name"])
# schsummary_df['Per Student Budget']= schsummary_df['budget'] /schsummary_df['Total Students'] 
# schsummary_df.rename(columns={'type_x': 'type'}, inplace= True)
# schsummary_df.drop(schsummary_df.columns[[3,4,5]], axis=1, inplace=True)

#schsummary_df

type      school_name
Charter   Cabrera High School      83.975780
          Griffin High School      83.816757
          Holden High School       83.814988
          Pena High School         84.044699
          Shelton High School      83.725724
          Thomas High School       83.848930
          Wilson High School       83.989488
          Wright High School       83.955000
District  Bailey High School       81.033963
          Figueroa High School     81.158020
          Ford High School         80.746258
          Hernandez High School    80.934412
          Huang High School        81.182722
          Johnson High School      80.966394
          Rodriguez High School    80.744686
Name: reading_score, dtype: float64

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [46]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

## Scores by School Size

* Perform the same operations as above, based on school size.

In [47]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

## Scores by School Type

* Perform the same operations as above, based on school type.